@import '../../theme';

.metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: spacing(3);
}

.price {
  font-weight: 500;
  font-size: 30px;
  color: $primaryTextColor;
}

.duration {
  font-weight: 500;
  font-size: 18px;
  color: #7a7a7a;
  margin-left: spacing(1);
  display: none;

  @media screen and (min-width: $breakpoint-tablet) {
    display: inline;
  }
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primaryTextColor;
  min-width: 140px;
  font-size: 14px;
  cursor: pointer;
}

.arrowRightIcon {
  path {
    fill: $primaryTextColor;
  }
}
