@import '../../theme';

.root {
  display: flex;
  width: 100%;
  height: spacing(16);
  margin-bottom: spacing(5);
  padding-right: 6.25vw;
  padding-left: 6.25vw;
  justify-content: space-between;
  align-items: stretch;
  background-color: $gray;

  @media screen and (max-width: $breakpoint-tablet) {
    height: spacing(10);
    margin-bottom: spacing(2.5);
    padding-right: spacing(10);
    padding-left: spacing(5);
  }

  @media screen and (max-width: $breakpoint-mobile) {
    padding-left: spacing(2.5);
  }
}

.logo {
  display: flex;
  padding-right: spacing(5);
  padding-left: spacing(5);
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $breakpoint-tablet) {
    padding-right: 0;
    padding-left: 0;
  }
}

.logoIcon {
  width: 140px;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100px;
  }
}
