@import '../../theme';

.field {
  position: relative;
  display: block;
  margin-top: spacing(2.5);
  font-weight: 500;
}

.input {
  width: 100%;
  border: 1px solid $primaryTextColor;
  color: $primaryTextColor;
  font-size: 14px;
  padding: 14px 18px;
}

.inputWrapper {
  position: relative;
}

.error {
  font-size: 14px;
  color: $errorColor;
}

.inputError {
  border: 1px solid $errorColor;
}

.suffix {
  position: absolute;
  right: spacing(3);
  top: 50%;
  transform: translateY(-50%);
}
