@import '../../theme.scss';

.root {
  position: relative;
  width: 100%;
  @media screen and (min-width: $breakpoint-tablet) {
    width: auto;
  }

  :global {
    .DayPicker__withBorder {
      border-radius: 0;
    }

    .DayPickerNavigation_button {
      border-radius: 0;
      border: none;

      &:hover {
        background-color: $lightGray;
      }
    }

    .DayPickerNavigation_svg__horizontal {
      fill: $primaryTextColor;
    }

    .CalendarDay__default {
      border: none;
      font-weight: 500;
    }

    .CalendarMonth_caption,
    .CalendarDay__default {
      color: $primaryTextColor;
    }

    .CalendarDay__blocked_calendar {
      color: $lightGray;
      background-color: $white;
    }

    .CalendarDay__selected {
      background-color: $primaryTextColor;
      color: $white;
    }

    .CalendarDay__selected_span,
    .CalendarDay__hovered_span:hover,
    .CalendarDay__hovered_span {
      background-color: $lightGray;
    }

    .CalendarDay__selected_span:hover {
      background-color: darken($color: $lightGray, $amount: 10);
    }
  }
}

.dateInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  padding: spacing(1.5) spacing(1.5);
  border: 1px solid $white;
  color: $white;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  height: 50px;

  @media screen and (min-width: $breakpoint-tablet) {
    min-width: 272px;
    padding: spacing(1.5) spacing(3);
    width: auto;
  }
}

.dateInput {
  padding: 0 spacing(1);
}

.dateInputFocused {
  border-bottom: 1px solid currentColor;
}

.calendar {
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  margin-left: 50%;
  left: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

  @media screen and (min-width: $breakpoint-tabletL) {
    transform: translateX(0);
    margin-left: 0;
  }
}

.arrowRightIcon {
  margin-left: spacing(3);
  margin-right: spacing(3);
}

.right {
  .calendar {
    left: auto;
    right: 0;
  }
}

.top {
  .calendar {
    top: -540px;

    @media screen and (min-width: $breakpoint-tablet) {
      top: -350px;
      left: 0;
    }
  }
}

.dark {
  .dateInputWrapper {
    border: 1px solid $primaryTextColor;
    color: $primaryTextColor;
  }

  .arrowRightIcon {
    path {
      fill: $primaryTextColor;
    }
  }
}

.error {
  font-size: 14px;
  color: $errorColor;
}

.dark,
.light {
  .inputError {
    border: 1px solid $errorColor;
  }
}
