$space: 8;

$white: #fff;
$gray: #f5f7f6;
$lightGray: #f0f0f0;

$primaryTextColor: #333;
$titleTextColor: #7a7a7a;
$metadataColor: #8c7f4e;
$errorColor: #dc0c0c;

$breakpoint-mobile: 479px;
$breakpoint-tablet: 768px;
$breakpoint-tabletL: 991px;
$breakpoint-laptopL: 1440px;

@function spacing($value) {
  @return $value * $space * 1px;
}

:export {
  white: $white;
  breakpoints: {
    mobile: $breakpoint-mobile;
    tablet: $breakpoint-tablet;
    tabletl: $breakpoint-tabletL;
    laptopl: $breakpoint-laptopL;
  }
}
